/* Site styles */
:root {
  --foodmap-red: #e55934;
}

* {
  font-family: 'Raleway', sans-serif;
}

.bg-color {
  background: linear-gradient(to bottom, #fff, #b8faff);
  min-height: 100vh;
}

/* Overwrite styles */
.form-group input, .form-group select {
  border: none;
  border-radius: 25px;
  box-shadow: 2px 4px 6px 2px  rgba(164, 232, 236, 0.15);
}

/* Splash screen */
.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/images/splash-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foodmap-brand {
  font-weight: 700;
  color: var(--foodmap-red);
}

.splash-logo {
  width: 100%;
}

/* Header styles */
header {
  /* background-color: #fff; */
  background-image: url('../assets/images/splash-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #d1d1d1;
}

header p {
  font-size: 30px;
  padding-top: 10px;
}

/* Map styles */
#map iframe {
  height: 40vh;
  width: 100%;
  margin: 25px auto;
  border: 0;
}

/* Search results styles */
.collection {
  display: block;
  height: 25vh;
  padding: 10px;
}

.collection a {
  box-shadow: 2px 4px 6px 2px  rgba(87, 158, 161, 0.3);
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .25s;
  position: relative;
}

/* .collection a:hover {
  
} */

#demo {
  box-shadow: 2px 4px 6px 2px  rgba(87, 158, 161, 0.3);
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .25s;
  background-image: url('../assets/images/comma.jpg');
}

.hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  opacity: 0;
}

.hover:hover {
  opacity: .9;
}