<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">  <link rel="stylesheet" href="css/main.css">
  <title>Foodmap</title>
</head>

<body class="bg-color">

  <header>
   <p class="foodmap-brand text-center">Foodmap</p>
  </header>
  <main>
    <!-- Google maps -->
    <section id="map" class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCT2GpxF7X_3dlLQVdNOqmzlHBaJVHXwwA&q=restaurants+in+Miraflores">
          </iframe>
        </div>
      </div>
    </section>

    <section id="filter" class="container-fluid">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" id="search-bar" class="form-control" placeholder="Search">
        </div>
      </form>
    </section>

    <section id="results" class="container-fluid">
      <div class="row">
        <ul>
          <li class="collection">hola</li>
          <li class="collection">como</li>
          <li class="collection">estas</li>
          <li class="collection">elena</li>
          <li class="collection">mama</li>
          <li class="collection">imouto</li>
          <li class="collection">papi</li>
          <li class="collection">sirito</li>
          <li class="collection">sirius</li>
          <li class="collection">hola</li>
          <li class="collection">hola</li>
          <li class="collection">hola</li>
          <li class="collection">hola</li>
          <li class="collection">hola</li>
        </ul>
      </div>
    </section>
    
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>